body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: cornflowerblue;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: cornflowerblue;
}

.navbar-brand {
    font-family: 'Kanit', sans-serif;
}

.navbar-toggler {
    background-color: #ccc
}

.section-title {
    font-family: 'Kanit', sans-serif;
}

#modelos {
    background-color: #ccc;
}

.text-colored {
    color: cornflowerblue;
}

.nav-modelos .nav-link.active,
#fale-conosco button {
    background-color: cornflowerblue;
    color: #fff;
}

.nav-modelos .nav-link:hover {
    color: cornflowerblue;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}


@media (max-width: 767px) {
    .carousel-item img {
        width: 100vw;
    }

    .tab-pane img {
        margin-top: 16px;
    }
}
